apiVersion: v1
kind: Service
metadata:
  name: member-service
  labels:
    app: member-service
spec:
  type: NodePort
  selector:
    app: member-service
  ports:
    - name: http
      port: 8081
      targetPort: 8081
      nodePort: 30081
      protocol: TCP
