apiVersion: apps/v1
kind: Deployment
metadata:
  name: member-service
  labels:
    app: member-service
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: member-service
  template:
    metadata:
      labels:
        app: member-service
        version: v1
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: member-service
          image: 481207241075.dkr.ecr.ap-northeast-2.amazonaws.com/growple/member-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
              protocol: TCP
          envFrom:
            - configMapRef:
                name: member-config
            - secretRef:
                name: member-secret