server:
  port: 8081

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: true  # 개별 서비스 UI는 false로 해도 됨

spring:
  application:
    name: member-service




  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jackson:
    time-zone: Asia/Seoul
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
    show-sql: true

  data:
    redis:
      host: 121.133.244.151
      port: 6379



# JWT 설정
jwt:
  secret-key: ${JWT_SECRET_KEY:your-256-bit-secret-key-here-must-be-at-least-32-characters}
  access-token-expiration: 180000000    # 30분 (밀리초)
  refresh-token-expiration: 604800000 # 7일 (밀리초)
  refresh-token-ttl-days: 7  # Redis에 저장할 리프레시 토큰의 TTL (일 단위)

# OAuth 설정
oauth:
  google:
    client-id: ${GOOGLE_CLIENT_ID}

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka


logging:
    level:
        root: INFO
        com.grow.member: DEBUG

# Actuator & Prometheus
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
