apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: growple
  labels:
    app: payment-service
    version: v1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
        version: v1
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: payment-service
          image: 481207241075.dkr.ecr.ap-northeast-2.amazonaws.com/growple/payment-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8083
              protocol: TCP
          envFrom:
            - configMapRef:
                name: payment-config
            - secretRef:
                name: payment-secret


