apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: growple
  labels:
    app: payment-service
spec:
  type: NodePort
  selector:
    app: payment-service
  ports:
    - name: http
      port: 8083
      targetPort: 8083
      nodePort: 30083
      protocol: TCP
