server:
  port: 8083

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: true  # 개별 서비스 UI는 false로 해도 됨

spring:
  application:
    name: payment-service
  batch:
    job:
      enabled: false # 애플리케이션 시작 시 자동 실행 방지
    jdbc:
      initialize-schema: always  # 배치 메타 테이블 자동 생성 (운영에선 never)




  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}/growple_payment?currentSchema=public
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jackson:
    time-zone: Asia/Seoul
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: payment-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: >
          StudyCreateEvent:com.grow.common.StudyCreateEvent,
          PaymentEnrollmentEvent:com.grow.common.PaymentEnrollmentEvent
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true
        partitioner.class: org.apache.kafka.clients.producer.RoundRobinPartitioner


PSP:
  toss:
    clientKey: ${TOSS_CLIENT_KEY}
    secretKey: ${TOSS_SECRET_KEY}
    url: https://api.tosspayments.com
    webhookSecretKey: ${TOSS_WEBHOOK_SECRET_KEY:default}

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka


logging:
  level:
    root: INFO
    com.grow.payment: DEBUG
    org.springframework.batch: INFO
