apiVersion: v1
kind: Service
metadata:
  name: discovery-service
  labels:
    app: discovery-service
spec:
  type: NodePort
  selector:
    app: discovery-service
  ports:
    - name: http
      port: 8761
      targetPort: 8761
      nodePort: 30761
      protocol: TCP
