apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-service
  namespace: growple
  labels:
    app: chat-service
    version: v1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: chat-service
  template:
    metadata:
      labels:
        app: chat-service
        version: v1
    spec:
      containers:
        - name: chat-service
          image: chat-service:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8084
              protocol: TCP
          envFrom:
            - configMapRef:
                name: chat-config
            - secretRef:
                name: chat-secret
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: JAVA_OPTS
              value: "-XX:+UseContainerSupport -XX:MaxRAMPercentage=50.0"
#          resources:
#            requests:
#              memory: "512Mi"
#              cpu: "250m"
#            limits:
#              memory: "1Gi"
#              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8084
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8084
            initialDelaySeconds: 60
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 3

